/platform/libboundscheck/src
/platform/libboundscheck/include
/boards/*/*/include
/boards/*/*/build/*.bin
/boards/*/*/build/*.elf
/boards/*/*/build/*.asm
/boards/*/*/build/build_forte/
/boards/*/*/libs/*.a
/boards/*/*/libs/*.lib
/boards/*/*/build/libmetal/
/boards/*/*/build/open-amp/
/boards/*/*/build/lwip/
/boards/*/*/component/libmetal*
/boards/*/*/component/open-amp*
/boards/*/*/component/openamp*
/boards/*/*/component/boost_1_54_0*
/boards/*/*/component/eigen-3.4.0*
/boards/*/*/component/libxml2*
/boards/*/*/component/libmodbus*
/boards/*/*/component/gcc-10.3.0*
/boards/*/*/component/forte/
/boards/*/hi3093/component/libcxx
/src/component/ccl
/src/component/libxml2
/testsuites/cxx-test/tools/.compiles_list
/testsuites/cxx-test/tools/.run_test.cc
/testsuites/build/*.bin
/testsuites/build/*.elf
/src/drivers/include/arch/board/
/src/libc/musl/include/bits/
/src/component/lua-*
/src/fs/include/inode/
/demos/rk3568_jailhouse/apps/ivshmem/lua.c
/build/logs/
/build/output/
/build/*/__pycache__/
/build/uniproton_config/*/prt_buildef.h
/cmake/**/__pycache__/
/output
/src/net/lwip
/src/fs/fat/ff15
/src/net/soem
/src/net/ethercat
/testsuites/eigen-test/*.cpp
/testsuites/eigen-test/*.cpp.*
/testsuites/soemTest/test