/platform/libboundscheck/src
/platform/libboundscheck/include
/demos/*/include
/demos/*/build/*.bin
/demos/*/build/*.elf
/demos/*/build/*.asm
/demos/*/libs/*.a
/demos/*/libs/*.lib
/demos/*/build/libmetal/
/demos/*/build/open-amp/
/demos/*/component/libmetal*
/demos/*/component/open-amp*
/demos/*/component/openamp*
/src/libc/musl/include/bits/
/src/component/lua-*
/demos/rk3568_jailhouse/apps/ivshmem/lua.c
/build/logs/
/build/output/
/build/*/__pycache__/
/build/uniproton_config/*/prt_buildef.h
/cmake/**/__pycache__/
/output
