/platform/libboundscheck/src
/platform/libboundscheck/include
/demos/*/include
/demos/*/build/*.bin
/demos/*/build/*.elf
/demos/*/build/*.asm
/demos/*/libs/*.a
/demos/*/libs/*.lib
/demos/*/build/libmetal/
/demos/*/build/open-amp/
/demos/*/build/lwip/
/demos/*/component/libmetal*
/demos/*/component/open-amp*
/demos/*/component/openamp*
/demos/*/component/boost_1_54_0*
/demos/*/component/eigen-3.4.0*
/demos/*/component/libxml2*
/demos/*/component/libmodbus*
/demos/*/component/gcc-10.3.0*
/demos/hi3093/component/libcxx
/src/component/ccl
/src/component/libxml2
/testsuites/cxx-test/tools/.compiles_list
/testsuites/cxx-test/tools/.run_test.cc
/testsuites/build/*.bin
/testsuites/build/*.elf
/src/drivers/include/arch/board/
/src/libc/musl/include/bits/
/src/component/lua-*
/src/fs/include/inode/
/demos/rk3568_jailhouse/apps/ivshmem/lua.c
/build/logs/
/build/output/
/build/*/__pycache__/
/build/uniproton_config/*/prt_buildef.h
/cmake/**/__pycache__/
/output
/src/net/lwip
/src/fs/fat/ff15
/src/net/soem
/testsuites/eigen-test/*.cpp
/testsuites/eigen-test/*.cpp.*
/testsuites/soemTest/test