menu "Arch Modules Configuration"

source "arch/cpu/Kconfig"

menu "Generic Configuration"
config OS_HARDWARE_PLATFORM
	string
	default "OS_CORTEX_M4" if INTERNAL_OS_PLATFORM_M4

config OS_CPU_TYPE
	string
	default "OS_STM32F407" if INTERNAL_OS_CORTEX_M4

config OS_MAX_CORE_NUM
	int "The maxinum number of cores"
	default 4  if INTERNAL_OS_PLATFORM_ARMV8_AX
	default 1  if INTERNAL_OS_PLATFORM_M4

config INTERNAL_OS_BYTE_ORDER_LE
	bool
	default y
	help
	  This indicates little endian if y

config OS_BYTE_ORDER
	string
	default "OS_LITTLE_ENDIAN" if INTERNAL_OS_BYTE_ORDER_LE
	default "OS_BIG_ENDIAN" if !INTERNAL_OS_BYTE_ORDER_LE

config OS_OPTION_CPU64
	bool "Whether support hardware 64 bit or not"
	default n

config OS_OPTION_SMP
	bool "Whether support mutilple smp os"
	default n

config OS_THIS_CORE
	bool "CoreID used when SMP is disabled"
	depends on !(OS_OPTION_SMP)
    default 3
	
endmenu

endmenu
