menu "riscv64 Sepecfic Configuration"

depends on (OS_ARCH_RISCV64)

config INTERNAL_OS_PLATFORM_RISCV64
    bool
    select INTERNAL_OS_BYTE_ORDER_LE
    select OS_OPTION_SMP if (OS_MAX_CORE_NUM != 1)

choice
    prompt "Cpu Type"

config INTERNAL_OS_RISCV64
    bool "OS_RISCV64"
    select INTERNAL_OS_PLATFORM_RISCV64

endchoice

endmenu
